@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}
.nav a {
  background: goldenrod;
  padding: 5px 12px;
  border-radius: 12px;
  color: black;
}

.nav-container {
  display: flex;
  justify-content: center;
  background: #d3cfcf;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #d8dee9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  margin: 3rem;
}

.box span {
  padding: 12px 10px;
}

.Input-contianer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.Input-contianer input {
  margin-right: 10px;
  padding: 5px 2px;
  width: 300px;
}

.Input-contianer button {
  padding: 0 8px;
}

.CurrentVol-contianer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 13px auto 0 auto;
  text-align: right;
  border: 1px solid black;
}

.CurrentVol-contianer p {
  padding: 1px 12px;
}

.CurrentVol-contianer a {
  display: inline-block;
  margin: 15px 3px 0 3px;
  font-weight: bold;
}

.CurrentVol-contianer h1 {
  padding: 0 5px;
  font-size: 30px;
}
.card {
  max-width: 250px;
  display: inline-block;
}
.card img {
  max-width: 250px;
  max-height: 167px;
  object-fit: contain;
  display: inline-block;
}
